.userCard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.userCard-container ul {
  width: 60%;
  height: 100%;
  border: 2px solid white;
  border-radius: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 0.3rem solid #cd0037;
  gap: 20px;
  padding-bottom: 5px;
}

.userCard-container ul li {
  margin: 5px;
  text-align: center;
}

.cpUserCard {
  color: rgb(213, 43, 30);
  font-weight: bold;
}

.spanUserCard {
  color: #6e1e78;
  font-weight: bold;
  font-style: italic;
}

.phoneUserCardOff {
  display: none;
}
