.defaultCard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.defaultCard-container ul {
  width: 60%;
  height: 100%;
  border: 2px solid white;
  border-radius: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.defaultCard-container ul li {
  text-align: center;
  width: 100%;
  color: white;
}
