.defaultCard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nontraité-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  border: 5px solid rgb(235, 0, 0);
  background-color: rgb(215, 215, 215);
  border-radius: 15px;
  list-style: none;
}

.encours-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  border: 5px solid rgb(193, 87, 0);
  background-color: rgb(215, 215, 215);
  border-radius: 15px;
  list-style: none;
}

.traité-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  border: 5px solid rgb(0, 193, 48);
  background-color: rgb(215, 215, 215);
  border-radius: 15px;
  list-style: none;
}

.defaultCard-container ul li {
  text-align: center;
  width: 100%;
  margin: 5px;
}

.defaultCard-container ul:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  box-shadow: 1px 1px 1px rgb(0, 0, 0), inset 2px 3px 5px rgb(0, 0, 0),
    inset -2px -3px 5px rgb(0, 0, 0);
}

.stationDefaultCardOff,
.tgvDefaultCardOff,
.terDefaultCardOff,
.trackDefaultCardOff,
.imageDefaultCardOff,
.geolocDefaultCardOff {
  display: none;
}

.imageDefaultCardOn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgCard {
  width: 40%;
}
