.profile-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile_champ-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background-color: rgb(0, 17, 43);
}

.backProfile {
  display: none;
}

.profile-logo {
  display: none;
}

@media (min-width: 900px) {
  .profile_champ-container {
    display: grid;
    grid-template-columns: 35% 25% 35%;
    grid-template-rows: 15% 20% 30%; 
    align-items: center;
  }
  .profile-logo {
    display: flex;
    justify-content: center;
  }
  h1 {
    grid-column: 1/4;
    grid-row: 1;
  }
  .inputProfil1 {
    grid-column: 1;
    grid-row: 2;
  }
  .inputProfil2 {
    grid-column: 3;
    grid-row: 2;
  }
  .inputProfil3 {
    grid-column: 3;
    grid-row: 3;
  }
  .inputProfil4 {
    grid-column: 1;
    grid-row: 3;
  }
  .inputProfil5 {
    grid-column: 1;
    grid-row: 4;
  }
  .profile-logo {
    grid-column: 2/3;
    grid-row: 3;
  }
  .envoyer {
    grid-column: 3;
    grid-row: 4;
  }
}
