.profile-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.profile-field-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.loginProfile,
.adminOffProf {
  display: none;
}
h2,
.textProfile {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
