.prof-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.prof-champs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.loginProf,
.admin0Prof {
  display: none;
}
/* 
.backProfile {
  display: none;
}

.profile-logo {
  display: none;
}

@media (min-width: 900px) {
  .profile_champ-container {
    display: grid;
    grid-template-columns: 35% 25% 35%;
    grid-template-rows: 15% 25% 25%; 
    align-items: center;
  }
  .profile-logo {
    display: flex;
    justify-content: center;

  }
  .logoProfile{
    width: 50%;
    border-radius: 20%;
  }
  h1 {
    grid-column: 1/4;
    grid-row: 1;
  }
  .inputProfil1 {
    grid-column: 1;
    grid-row: 2;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.9s both;
  }
  .inputProfil2 {
    grid-column: 3;
    grid-row: 2;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
  }
  .inputProfil3 {
    grid-column: 3;
    grid-row: 3;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
  }
  .inputProfil4 {
    grid-column: 1;
    grid-row: 3;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
  }
  .inputProfil5 {
    grid-column: 1;
    grid-row: 4;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
  }
  .profile-logo {
    grid-column: 2/3;
    grid-row: 3;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  }
  .envoyer {
    grid-column: 3;
    grid-row: 4;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;}
    @keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
      }
    } */
h2,
h3 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
