.reseau-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.profileReseau,
.loginReseau,
.admin0Reseau {
  display: none;
}

.reseau_champ-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

h1 {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: rgb(213, 43, 30);
}

.inputReseau {
  border-radius: 20px;
  color: rgb(213, 43, 30);
}

.textReseau {
  border-radius: 20px;
}

.pictureReseauOn {
  width: 100px;
  height: 100px;
}

.pictureReseauOff {
  display: none;
}
