.reseau-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.profileReseau,
.loginReseau,
.adminOffReseau {
  display: none;
}

.reseauField-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  overflow: auto;
  gap: 10px;
  justify-content: space-around;
}

h1 {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: rgb(213, 43, 30);
}

.inputReseauImg {
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 70%;
}

.textReseau {
  border-radius: 20px;
}

.pictureReseauOn {
  height: 100%;
}

.pictureReseauOff {
  display: none;
}

.popup {
  height: 70%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.896);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  top: 20%;
  right: 5%;
  left: 5%;
  position: absolute;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.popUpHeader {
  background-color: rgb(213, 43, 30);
  width: 100%;
  text-align: end;
}
.popupBody {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pictureReseauPopup {
  width: 150%;
}
@media (min-width: 900px) {
  .inputVoyageursImg {
    width: auto;
  }
  .textReseau {
    height: 28vh;
    width: 400px;
  }

  .reseauField-container {
    display: grid;
    grid-template-columns: 43% 10% 43%;
    grid-template-rows: auto 15% 10% 30% 5% auto;
    align-items: center;
    justify-content: center;
  }
  h1 {
    grid-column: 1/4;
    grid-row: 1;
    animation: scale-in-ver-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      1.9s both;
  }
  .inputReseauOne {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  }
  .inputReseauTwo {
    grid-column: 1;
    grid-row: 3/5;
    align-items: center;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  }
  .inputReseauThree {
    grid-column: 3;
    grid-row: 2;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
      both;
  }
  .inputReseauFour {
    grid-column: 3;
    grid-row: 3;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
      both;
  }
  .pictureDefault {
    grid-column: 3;
    grid-row: 4;
    height: 80%;
    display: flex;
    justify-content: center;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
      both;
  }
  .latitudeLongitude {
    justify-content: space-evenly;
    grid-column: 3;
    grid-row: 5;
    justify-content: center;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
      both;
  }

  .inputReseauFive {
    grid-column: 2;
    grid-row: 6;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.9s
      both;
  }
  .lineVoyageurs {
    grid-column: 2;
    grid-row: 2/5;
    background-color: rgb(213, 43, 30);
    width: 3px;
    height: 100%;
    margin: auto;
    animation: scale-in-ver-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      1.2s both;
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      opacity: 1;
    }
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
