.station-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.profileGare,
.loginGare,
.admin0Gare {
  display: none;
}

.stationField-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

h1 {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: rgb(213, 43, 30);
}

.inputStationImg {
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 60%;
}

.textStation {
  border-radius: 20px;
  padding: 5px;
  font-size: small;
}

.inputAnomalie {
  height: 40px;
  width: 70%;
}
.inputFile {
  width: 90%;
  color: rgb(213, 43, 30);
  font-size: small;
  text-align: center;
}

.inputPosition {
  text-align: center;
  color: rgb(205, 0, 55);
  font-style: oblique;
  border-radius: 20px;
}

.pictureStationOn {
  width: 100px;
  height: 100px;
}

h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.images {
  width: 70px;
  height: 70px;
}

.sendStation {
  color: rgb(213, 43, 30);
  font-weight: bold;
  border-radius: 20px;
}

.placeButton {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pictureStationOff {
  display: none;
}

@media (min-width: 768px) {
  .inputStation {
    width: 300px;
    height: 35px;
  }
  .textStation {
    width: 35rem;
    height: 20vh;
    font-size: medium;
  }
}
