.station-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.profileGare,
.loginGare,
.adminOffGare,
.logoutGare {
  display: none;
}

.stationField-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  overflow: auto;
  gap: 10px;
  justify-content: space-between;
}

.inputStationImg {
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 70%;
}

.textStation {
  border-radius: 20px;
  padding: 5px;
  font-size: small;
  height: 50px;
}

.inputAnomalie {
  height: 40px;
  width: 70%;
}
.inputFile {
  width: 90%;
  color: rgb(213, 43, 30);
  font-size: small;
  text-align: center;
}

.inputPosition {
  text-align: center;
  color: rgb(205, 0, 55);
  font-style: oblique;
  border-radius: 20px;
}

.pictureStationOn {
  height: 80%;
}

h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.sendStation {
  color: rgb(213, 43, 30);
  font-weight: bold;
  border-radius: 20px;
}

.placeButton {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pictureStationOff,
.loadingStationOff {
  display: none;
}

.latitudeLongitude {
  display: flex;
  width: 100%;
  justify-content: center;
}

.inputLatitudeLongitude {
  text-align: center;
}

.pictureDefaultStation {
  height: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 900px) {
  .inputStationImg {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .textStation {
    height: 28vh;
    width: 400px;
  }

  .latitudeLongitude {
    justify-content: space-evenly;
  }

  .stationField-container {
    display: grid;
    grid-template-columns: 43% 10% 43%;
    grid-template-rows: auto 15% 15% 30% 5% auto;
    align-items: center;
    justify-content: center;
  }

  .h1Animation {
    grid-column: 1/4;
    grid-row: 1;
    animation: scale-in-ver-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      1.9s both;
  }

  .inputStationOne {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  }

  .inputStationTwo {
    grid-column: 1;
    grid-row: 3/5;
    align-items: center;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  }

  .inputStationThree {
    grid-column: 3;
    grid-row: 2;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
      both;
  }

  .inputStationFour {
    grid-column: 3;
    grid-row: 3;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
      both;
  }

  .pictureDefaultStation {
    grid-column: 3;
    grid-row: 4;
    height: 80%;
    display: flex;
    justify-content: center;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
      both;
  }

  .latitudeLongitude {
    grid-column: 3;
    grid-row: 5;
    justify-content: center;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
      both;
  }

  .inputStationFive {
    grid-column: 1/4;
    grid-row: 6;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.9s
      both;
  }

  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      opacity: 1;
    }
  }

  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      opacity: 1;
    }
  }
}
