.station-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.profileGare,
.loginGare,
.admin0Gare {
  display: none;
}

.stationField-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  overflow: auto;
  gap: 10px;
}

h1 {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: rgb(213, 43, 30);
}

.inputStationImg {
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 80%;
}

.textStation {
  border-radius: 20px;
  padding: 5px;
  font-size: small;
  height: 50px;
}

.inputAnomalie {
  height: 40px;
  width: 70%;
}
.inputFile {
  width: 90%;
  color: rgb(213, 43, 30);
  font-size: small;
  text-align: center;
}

.inputPosition {
  text-align: center;
  color: rgb(205, 0, 55);
  font-style: oblique;
  border-radius: 20px;
}

.pictureStationOn {
  height: 100%;
}

h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.sendStation {
  color: rgb(213, 43, 30);
  font-weight: bold;
  border-radius: 20px;
}

.placeButton {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pictureStationOff {
  display: none;
}

.latitudeLongitude {
  display: flex;
  width: 100%;
}
.inputLatitudeLongitude {
  text-align: center;
}
.pictureDefault {
  height: 15%;
}
@media (min-width: 768px) {
  .inputStation {
    width: 300px;
    height: 35px;
  }
  .textStation {
    width: 35rem;
    height: 20vh;
    font-size: medium;
  }
}
@media (min-width: 900px) {
  .inputVoyageursImg {
    width: auto;
  }
  .textStation {
    height: 30vh;
    width: 400px;
  }
  .latitudeLongitude {
    justify-content: space-evenly;
  }
  .stationField-container {
    display: grid;
    grid-template-columns: 43% 10% 43%;
    grid-template-rows: auto 15% 10% 30% 5% auto;
    align-items: center;
    justify-content: center;
  }
  h1 {
    grid-column: 1/4;
    grid-row: 1;
    animation: scale-in-ver-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      1.9s both;
  }
  .inputStationOne {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
  }
  .inputStationTwo {
    grid-column: 1;
    grid-row: 3/5;
    align-items: center;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  }
  .inputStationThree {
    grid-column: 3;
    grid-row: 2;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  }
  .inputStationFour {
    grid-column: 3;
    grid-row: 3;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  }
  .pictureDefault {
    grid-column: 3;
    grid-row: 4;
    height: 80%;
    display: flex;
    justify-content: center;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  }
  .latitudeLongitude {
    grid-column: 3;
    grid-row: 5;
    justify-content: center;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
  }

  .inputStationFive {
    grid-column: 2;
    grid-row: 6;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  }
  .lineVoyageurs {
    grid-column: 2;
    grid-row: 2/5;
    background-color: rgb(213, 43, 30);
    width: 2px;
    height: 100%;
    margin: auto;
    animation: scale-in-ver-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      1.2s both;
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      opacity: 1;
    }
  }
}
