.legal-container {
  background-color: #00112b;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 400%;
}

.legal-container h1 {
  color: #ffb612;
  font-style: italic;
}

.identite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  color: #ffff;
}

.identite-container h2 {
  color: #cd0037;
}

.conditions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.conditions-container h2 {
  color: #cd0037;
}
.conditions-container p {
  color: #ffff;
}

.informations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.informations-container h2 {
  color: #cd0037;
}

.informations-container p {
  color: #ffff;
}

.identite-container p {
  color: #ffff;
}

.interactivite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.interactivite-container h2 {
  color: #cd0037;
}

.interactivite-container p {
  color: #ffff;
}

.propriete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.propriete-container h2 {
  color: #cd0037;
}

.liens-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.propriete-container p {
  color: #ffff;
}

.liens-container h2 {
  color: #cd0037;
}

.liens-container h3 {
  color: #cd0037;
}

.liens-container p {
  color: #ffff;
}

.liens-container span {
  color: #ffb612;
}

.confidentialite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.confidentialite-container h2 {
  color: #cd0037;
}

.confidentialite-container p {
  color: #ffff;
}

.credits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.credits-container h2 {
  color: #cd0037;
}

.credits-container p {
  color: #ffff;
}

.mentions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  color: #ffff;
}
.backReseau{
  transition-duration: 0.5s;
}
.backReseau:hover{
  transform: rotate(-15deg)
}