.defaultView-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.defaultView-field-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.adminOffUpdateDefaultsUser {
  display: none;
}

.imageViewOn {
  width: 30%;
}

.stationViewOff,
.terViewOff,
.tgvViewOff,
.trackViewOff,
.imageViewOff,
.geolocViewOff {
  display: none;
}
