.defaultView-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.defaultViewCard-container {
  display: flex;
  justify-content: center;
}

.defaultView-field-container {
  width: 80%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid #cd0037;
  gap: 20px;
}
.defaultView-field-container h2 {
  color: black;
}
.defaultView-field-container span {
  color: #6e1e78;
  font-weight: bolder;
  font-style: italic;
}

button.update-defaultView {
  color: white;
  border: 0.1rem solid black;
  background-color: #00112b;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profileDefaultViewUser,
.loginDefaultViewUser,
.adminOffDefaultViewUser,
.logoutDefaultViewUser {
  display: none;
}

.imageViewOn {
  width: 30%;
}

.stationViewOff,
.terViewOff,
.tgvViewOff,
.trackViewOff,
.imageViewOff,
.geolocViewOff {
  display: none;
}

.textDefaultView,
.geolocViewOn {
  color: rgb(0, 17, 43);
  font-size: 15px;
  font-weight: bold;
  width: 80%;
}
