.defaultView-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 17, 43);
}

.defaultViewCard-container {
  display: flex;
  justify-content: center;
}
.defaultView-field-container {
  width: 80%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid #cd0037;
  gap: 20px;
}
.defaultView-field-container h2 {
  color: black;
}
.defaultView-field-container span {
  color: #6e1e78;
  font-weight: bolder;
  font-style: italic;
}
.titles {
  font-size: 2.5vh;
}

button.update-defaultView {
  color: white;
  border: 0.1rem solid black;
  background-color: #00112b;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adminOffUpdateDefaultsUser {
  display: none;
}

.imageViewOn {
  width: 30%;
}

.stationViewOff,
.terViewOff,
.tgvViewOff,
.trackViewOff,
.imageViewOff,
.geolocViewOff {
  display: none;
}

.textDefaultView,
.geolocViewOn {
  color: rgb(0, 17, 43);
  font-size: 15px;
  font-weight: bold;
  width: 80%;
}

@media (min-width: 1024px) {
  .defaultView-field-container {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    border: 0.3rem solid #cd0037;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "Title Title"
      "Items Image"
      "Items Image"
      "Description Image"
      "Treatment Image"
      "Geolocation Button";
  }
  #Items {
    grid-area: Items;
  }
  #Description {
    grid-area: Description;
  }
  #Geolocation {
    grid-area: Geolocation;
  }
  #Treatment {
    grid-area: Treatment;
  }

  .titles {
    font-size: 4vh;
  }
  .defaultView-field-container h1 {
    grid-area: Title;
    /* grid-column: 3; */
    /* grid-row: 1; */
    font-size: 4vh;
  }
  .defaultView-field-container h2,
  .defaultView-field-container p {
    /* grid-column: 2; */
    font-size: 2.5vh;
    text-align: justify;
  }
  .defaultView-field-container img {
    grid-area: Image;
    /* grid-column: 4; */
    /* grid-row: 2; */
    /* width: 50%;
    height: 40%; */
  }
  /* .defaultView-field-container img:focus {
    width: 80%;
    height: 90%;
  } */
  .defaultView-field-container button {
    grid-area: Button;
    /* grid-column: 3;
    grid-row: 4; */
    width: 200%;
    grid-column: 4;
  }
}
