.defaultsUser-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.problem-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 17, 43);
  overflow: auto;
  gap: 20px;
}

.backDefaultsUser {
  margin-top: 5px;
  margin-left: 5px;
  width: 35px;
  height: 35px;
  transition-duration: 0.5s;
}

.profileDefaultsUser,
.loginDefaultsUser,
.adminOffDefaultsUser {
  display: none;
}

.btnCard {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.delete-button-defaultUser {
  color: rgb(213, 43, 30);
  font-weight: bold;
  border-radius: 20px 0px 0px 20px;
  height: 1.5em;
  width: 8rem;
}
.delete-button-defaultUser:hover {
  background-color: rgb(213, 43, 30);
  color: white;
  height: 1.5em;
  width: 8rem;
}

.update-button-defaultsUser {
  color: rgb(213, 43, 30);
  font-weight: bold;
  border-radius: 0px 20px 20px 0px;
  height: 1.5em;
  width: 8rem;
}
.update-button-defaultsUser:hover {
  background-color: rgb(255, 182, 18);
  color: white;
  height: 1.5em;
  width: 10rem;
}

@media (min-width: 768px) {
  .problem-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, auto);
    background-color: rgb(0, 17, 43);
    overflow: scroll;
    gap: 20px;
    padding-top: 10px;
  }
  /* .delete-button-defaultUser{
    color: rgb(213, 43, 30);
    font-weight: bold;
    border-radius: 20px 0px 0px 20px ;
    height: 1.5em;
  }
  .delete-button-defaultUser:hover{
    background-color: rgb(213, 43, 30);
    color: white;
    height: 1.5em;
    width: 8rem;
  }
  
  .update-button-defaultsUser{
    color: rgb(213, 43, 30);
    font-weight: bold;
    border-radius: 0px 20px 20px 0px ;
    height: 1.5em;
    
  }
  .update-button-defaultsUser:hover{
  background-color: rgb( 255,182,18);
  color: white;
  height: 1.5em;
  width: 8rem;
  } */
}
@media (min-width: 968px) {
  .problem-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
  }
}
