.inputPassword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-text {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
}
.enterPassword {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  width: 240px;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.1s;
}
.enterPassword:hover {
  outline: 3px solid rgb(205, 0, 55);
}
.eye {
  width: 20px;
}
.inputPassword {
  width: 80%;
  padding: 0px;
}
.inputPassword:hover {
  outline: 0px solid;
}
