.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-container {
  height: 100%;
  background-color: rgb(0, 17, 43);
}

.item-flex {
  height: 46%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  color: rgb(213, 43, 30);
  text-align: center;
}

.back {
  display: none;
}

.profile {
  margin-top: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  transition-duration: 0.5s;
}

.profile:hover{
  width: 40px;
  height: 40px;
}
