.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-container {
  height: 100%;
  background-color: rgb(0, 17, 43);
}

.item-flex {
  height: 46%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  color: rgb(213, 43, 30);
  text-align: center;
}

.backHome {
  display: none;
}

.Typewriter {
  color: #d52b1e;
  text-align: center;
}
