.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 135px;
  height: 35px;
  cursor: pointer;
  font-size: small;
  transition-duration: 0.5s;
}
button:hover{
  width: 160px;
  height: 42px;
  background-color: rgb(205, 0, 55);
  color: white;
}


.label-text {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
}
