* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

.fieldFalse {
  color: rgb(213, 43, 30);
  font-size: 12px;
}
