.header-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgb(110, 30, 120), rgb(161, 0, 107));
}

.header-back-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.back {
  margin-top: 5px;
  margin-left: 5px;
  width: 35px;
  height: 35px;
  transition-duration: 0.5s;
}

.back:hover {
  width: 40px;
  height: 40px;
}

.adminOn,
.adminOff {
  margin-top: 5px;
  margin-left: 5px;
  width: 35px;
  height: 35px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.header-profile-logout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.profile {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

.login {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

.profile:hover {
  animation: jello-horizontal 0.9s both;
}

.logout {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.logo {
  width: 125px;
  height: 125px;
}
