
VIOLET: 6E1E78
PRUNE: A1006B
FRAMBOISE: CD0037
ORANGE: E05206
JAUNE SAFRAN: FFB612
VERT ANIS: D2E100
VERT POMME: 82BE00
BLEU CANARD: 009AA6
BLEU PRIMAIRE: 0088CE
ROUGE ASSISTANCE: D52B1E
BLEU SIGNALETIQUE: 00112B
CARBONE: 333333
COOL GRAY 1: F2F2F2
COOL GRAY 3: D7D7D7
COOL GRAY 5: B9B9B9
COOL GRAY 7: A0A0A0

